body{
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

header{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.navbar__nav{
    background-color: #fff;   
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 27px;
}

.navbar__logo{
    width: 250px;
    height: 107px;
    padding: 10px 0 10px 100px;
}

.navbar__list{
    text-align: center;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.navbar__item{
    text-decoration: none;
    padding: 10px;
}

.navbar__link{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    padding-right: 20px;

}

.navbar__link:active, .navbar__link:hover{
    color: #952113;
}

.navbar__btn{
    background-color: #b31721; 
    color: white; 
    padding: 10px 80px; 
    border-radius: 40px; 
    text-decoration: none; 
    font-weight: bold; 
    display: inline-block;
    margin-right: 100px;
}

.navbar__btn:hover {
    background-color: #c0392b; 
  }

.hero{
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    justify-content: center;
}



.hero__fondo{
    margin: 0;
    background-color: #990000;
    background-image: 
      radial-gradient(ellipse at center, transparent 0%, transparent 65%, rgba(0,0,0,0.2) 100%),
      repeating-linear-gradient(45deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, transparent 1px, transparent 2px),
      repeating-linear-gradient(-45deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, transparent 1px, transparent 2px);
    background-size: 100% 100%, 4px 4px, 4px 4px;
    width: 100%;
    height: calc(100vh - 128px);
    display: flex;
}

.hero__text{
    flex: 1;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.hero__h1{
    font-size: 72px;
    margin: 0;
    margin-left: 30px;
}

.hero__h2{
    font-size: 25px;
    font-weight: 300;
    margin-top: 30px;
    margin-left: 30px;
}

.hero__img{
    max-width: 50%;
    object-fit: cover;
}